@model IEnumerable<Domain.Autor>

@{
    ViewBag.Title = "AdicionarAutores";
}

<h2>Adicionar Autores</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.ActionLink("Adicionar Autor", "CriaRelacionamento", new { id=item.AutorId })
        </td>
    </tr>
}

</table>
